/* ======================================
        * Button *
====================================== */

.btn {
    background-color: $color-primary;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    width: 130px;
    height: 48px;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--yellow {
    background-color: $color-secondary;
}

.btn--red {
    background-color: $color-tertiary;
}

.btn:hover {
    background-color: $color-primary-darker;
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: $color-primary;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

/* ======================================
        * Text *
====================================== */

.text{
    font-family: $poppins;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
}

.bar--green{
    position: relative;
}

.bar--green::after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: $gradient-primary;
}

.features__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-opacity;
    height: 4rem;
    width: 4rem;
    margin: 0px auto;
    margin-bottom: 12px;
    border-radius: 50%;
}

.features__icon-svg{
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
}
