/* ======================================
        * Button *
====================================== */

.btn {
    background-color: $color-primary;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    width: 130px;
    height: 48px;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--yellow {
    background-color: $color-secondary;
}

.btn--red {
    background-color: $color-tertiary;
}

.btn:hover {
    background-color: $color-primary-darker;
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: $color-primary;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

/* ======================================
        * Text *
====================================== */

.text{
    font-family: $poppins;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
}


