/* ======================================
        * Overlay *
====================================== */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.overlay--gray {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 5;
    transition: all 0.5s;
}

/* ======================================
        * modal__open-acount *
====================================== */

.btn__close-acount{
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    font-size: 2.1rem;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
}

.modal__open-acount{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 540px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4rem 6rem;
    z-index: 10;
    padding: 44px 0px;
    transition: all 0.5s ease 0s;
}

.modal__open-acount-title{
    text-align: center;
    font-size: 1.5rem;
    width: 96%;
    margin: 0px auto;
    margin-bottom: 30px;
}

.modal__open-acount-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 0px auto;
    max-width: 380px;
}

.modal__open-acount__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal__open-acount__box-label{
    width: 40%;
}

.modal__open-acount__box-input{
    width: 58%;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 0.5rem;
}

/* ======================================
        * Class JS *
====================================== */ 

.opacity100{
    opacity: 100%;
}

.opacity0{
    opacity: 0%;
}

.hidden{
    display: none;
}

.line_grey{
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 60px;
    transition: transform 1s ease 0s, opacity 1s ease 0s;
    width: 100%;
}

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    max-width: none;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.sections {
    transition: opacity 1s;
}

.sections--hiden {
    opacity: 0;
}

.lazy-img {
    filter: blur(20px);
}