@media (min-width: 400px){
    .btn {
        font-size: 1rem;
        width: 180px;
    }

    .menu{
        width: 70px;
    }

    .main__section-features__article-title{
        width: 80%;
    }
}

@media (min-width: 768px){
    .features, .operations, .testimonial{
        font-size: 1.2rem;
    }
    .nav__right{
        width: 540px;
    }

    .nav__right-bar{
        display: flex;
    }

    .nav__logo{
        width: 150px;
    }

    .btn {
        font-size: 1.1rem;
        width: 280px;
    }

    .menu{
        display: none;
    }

    .main__title{
        width: 54%;
    }

    .main__section-title{
        margin-top: 70px;
    }

    .main__title-h1{
        margin-top: 10px;
        font-size: 3.2rem;
    }

    .main__title-p{
        font-size: 1.4rem;
    }

    .main__article-title-img{
        width: 38%;
    }

    .main__title-img{
        width: 100%;
        opacity: 90%;
        margin-top: 0px;
    }

    .main__section-features__article-title{
        width: 80%;
    }

    .main__section-features__article-title-p{
        font-size: 3rem;
    }

    .box__feactures-position--invested{
        flex-direction: row-reverse;
    }

    .main__section-features__img{
        width: 48%;
        margin-bottom: 0px;
    }

    .main__section-features__info{
        width: 48%;
    }

    .main__section-operations-article-pricipal{
        width: 80%;
    }

    .main__section-operations-title{
        font-size: 2.8rem;
    }

    .operations-box-buttons{
        position: absolute;
        top: -24px;
    }

    .operations__w-85{
        width: 80%;
    }

    .slider{
        height: 60vh;
    }
    
    .section__sign-up-title{
        font-size: 2.4rem;
        padding: 0px 60px;
        max-width: 900px;
    }

    .btn-operations--sin-up{
        width: 400px;
        margin-top: 50px;
        font-size: 1.3rem;
        padding: 20px 0px 40px 0px;
    }
}